/*Public BI, Allocations tab, lollipop and parallel coordinates (code: pbialp)*/

#d3chartcontainerpbialp {
	position: relative;
}

#pbialpDownloadingDiv {
	position: absolute;
	padding: 8px;
	background: #fcfcfc; 
	border: 1px solid #222; 
	border-radius: 8px;
	pointer-events: none;
	cursor: none;
	width: 200px;
	height: 100px;
	z-index: 1500;
}

#pbialptooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f1f1f1; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	max-width: 400px;
	z-index: 1500;
}

.pbialpTopDiv {
	display: flex;
	width: 100%;
	margin-bottom: 4px;
}

.pbialpTitleDiv {
	display: flex;
	flex:0 60%;
	margin-left: 16px;
}

.pbialpIconsDiv {
	display: flex;
	flex:0 40%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 16px;
}

.pbialpFooterDiv {
	width: 100%;
	margin-top: 8px;
}

.pbialpYearsDescriptionDiv {
	margin-left: 10px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #888;
	width: 98%;
}

.pbialpSelectionDescriptionDiv {
	margin-left: 10px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #888;
	width: 98%;
}

.pbialpOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

p#pbialpd3chartTitle {
	font-size: 26px;
	font-family: "Arial", sans-serif;
	margin: 0px;
	color: #418fde;
}

.pbialpgroupYAxisFake {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: darkslategray;
	pointer-events: none;
}

.pbialptopPanelMainValue {
	font-family: "Arial", sans-serif;
	font-size: 48px;
}

.pbialptopPanelCbpfsNumber, .pbialptopPanelRhpfsNumber {
	font-family: "Arial", sans-serif;
}

.pbialptopPanelUnderApprovalValue, .pbialptopPanelAllocatedValue {
	font-family: "Arial", sans-serif;
	font-size: 22px;
}

.pbialptopPanelMainText, .pbialptopPanelSubText {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	fill: #888;
}

.pbialptopPanelUnderApprovalText, .pbialptopPanelAllocatedText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #888;
}

.pbialptopPanelCbpfsText, .pbialptopPanelRhpfsText {
	font-family: "Arial", sans-serif;
	fill: #888;
}

.pbialptopPanelCbpfsTextSubText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	fill: #888;
}

.pbialpbuttonsText, .pbialpbuttonsPartnersText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbialpleftArrowText, .pbialprightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.pbialpLollipopPanelTitle, .pbialpParallelPanelTitle {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	fill: #666;
}

.pbialpCbpfLabel, .pbialpPercentagesText {
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	fill: #666;
	pointer-events: none;
}

.pbialpPercentagesTextHighlight {
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	fill: #444;
	pointer-events: none;
}

.pbialpCbpfLabelPercentage {
	font-family: "Roboto", sans-serif;
	font-size: 9px;
	fill: #aaa;
	pointer-events: none;
}

.pbialpgroupYAxisLollipop text {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: darkslategray;
	pointer-events: none;
}

.pbialpgroupYAxisLollipop path {
	stroke: none;
}

.pbialpgroupXAxisLollipop text{
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbialpgroupXAxisLollipop path, .pbialpgroupXAxisParallel path{
	stroke: none;
}

.pbialpgroupXAxisLollipop line{
	stroke: #ddd;
	stroke-dasharray: 2, 2;
}

.pbialpgroupXAxisParallel text{
	font-family: "Arial", sans-serif;
	font-size: 12px;
	fill: #666;
	pointer-events: none;
}

.pbialpgroupXAxisParallel line{
	stroke: #ccc;
	stroke-dasharray: 2, 2;
}

.pbialpPercentNumbersText, .pbialpCbpfParallelText {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbialpUnselectedPath {
	stroke: #f2f2f2;
}

.pbialpUnselectedCircle {
	fill: #f2f2f2;
}

.pbialpAverageTextControl, .pbialpLegendText {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbialpDownloadText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbialpLabelText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: #666;
}

.pbialpTooltipGroupedBarXAxis path, .pbialpTooltipDonutXAxis path, .pbialpTooltipGroupedBarXAxis line, .pbialpTooltipDonutXAxis line {
	stroke: none;
}

.pbialpTooltipGroupedBarXAxis text, .pbialpTooltipDonutXAxis text {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #888;
	pointer-events: none;
}

.pbialpTooltipGroupedBarYAxis text{
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbialpTooltipGroupedBarYAxis path {
	stroke: none;
}

.pbialpTooltipGroupedBarYAxis line{
	stroke: #ddd;
	stroke-dasharray: 2, 2;
}

.pbialpTooltipLegend {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #888;
	pointer-events: none;
}

.pbialpTooltipLegendDonut {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: #888;
	pointer-events: none;
}

.pbialpUnderApprovalClass {
	fill: #8392a2;
}

.pbialpUnderApprovalHTMLClass {
	color: #8392a2;
}

.pbialpSlicePercent {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: #666;
	pointer-events: none;
}

.pbialpAnnotationMainText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	fill: white;
}

.pbialpAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}

#pbialpSnapshotTooltip {
	z-index: 1600;
}

.pbialpSnapshotContent {
	position: absolute;
	min-width: 100px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
}

.pbialpSnapshotContent #pbialpSnapshotPdfText, .pbialpSnapshotContent #pbialpSnapshotPngText, .pbialpSnapshotContent #pbialpSnapshotTooltipPdfText, .pbialpSnapshotContent #pbialpSnapshotTooltipPngText {
	font-size: 14px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
}

.pbialpSnapshotContent #pbialpBestVisualizedText, .pbialpSnapshotContent #pbialpTooltipBestVisualizedText {
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
	border-top: 1px solid lightgray;
	width: 202px;
}

.pbialpSnapshotContent #pbialpSnapshotPdfText:hover, .pbialpSnapshotContent #pbialpSnapshotPngText:hover, .pbialpSnapshotContent #pbialpSnapshotTooltipPdfText:hover, .pbialpSnapshotContent #pbialpSnapshotTooltipPngText:hover {
	background-color: #1F69B3;
	color: white;
}

.pbialpinfoIcon {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 18px;
}

.pbialpFundsDiv ul {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-inline-start: 20px;
}

.pbialpfundsDivTitle {
	margin-bottom: 8px;
	font-weight: bold;
}