/*Covid-19 Allocations (code: covmap)*/

#d3chartcontainercovmap {
	position: relative;
}

#covmapDownloadingDiv {
	position: absolute;
	padding: 8px;
	background: #fcfcfc; 
	border: 1px solid #222; 
	border-radius: 8px;
	pointer-events: none;
	cursor: none;
	width: 200px;
	height: 100px;
	z-index: 1500;
}

#covmaptooltipdiv {    
	position: absolute;
	padding: 10px;
	background-color: rgba(0,0,0,0);
	z-index: 1500;
}

#covmapInnerTooltipDiv {    
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f8f8f8; 
	border: 1px solid #999; 
	border-radius: 4px;
}

.covmapIconsDiv {
	display: flex;
	width: 36%;
	left: 64%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 16px;
	position: absolute;
	margin-top: 6.35%;
}

.covmapIconsDiv button {
	white-space: pre;
	font-weight: 700;
	color: white;
	background-color: #418fde;
	padding: 0.14vw 0.556vw 0.14vw 0.556vw;
	border-radius: 0.417vw;
	-moz-border-radius: 0.417vw;
	-webkit-border-radius: 0.417vw;
	border: 0.069vw solid rgba(0,0,0,0.3);
	box-shadow: 0.139vw 0.139vw 0.139vw rgba(0,0,0,0.4);
	margin-right: 0.417vw;
	line-height: normal !important;
  }

.covmapIconsDiv button:hover:enabled {
	background-color: #2e649b;
	border-color: rgba(0,0,0,0.6);
	cursor: pointer;
}

.covmapIconsDiv button:active {
	background-color: #bbb;
	border-color: rgba(0,0,0,1);
}

.covmapIconsDiv button:focus {
	outline: none;
}

.covmapIconsDiv button:disabled {
	opacity: 0.5;
	cursor: default;
}

.covmapFooterDiv {
	width: 100%;
	margin-top: 4px;
	display: flex;
}

.covmapYearsDescriptionDiv {
	margin-left: 10px;
	font-family: "Arial", sans-serif;
	font-size: 10px;
	color: #888;
	width: 98%;
}

.covmapOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

.covmapbuttonsText, .covmapbuttonsCbpfText, .covmapbuttonsCerfText {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.covmapleftArrowText, .covmaprightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.covmaplegendTitle {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.covmaplegendCirclesText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: darkslategray;	
}

.covmaplegendColors text {
	font-family: "Arial", sans-serif;
	font-size: 11px;
	fill: darkslategray;	
}

.covmapshowNamesText {
	font-family: "Arial", sans-serif;
	font-size: 11px;
	fill: darkslategray;
}

.covmapgroupName {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	pointer-events: none;
	fill: darkslategray;
}

.covmapgroupNameBack {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	pointer-events: none;
	fill: white;
	stroke: white;
	stroke-width: 2px;
}

.covmapzoomPath {
	fill: white;
}

.covmapzoomPath:hover {
	fill: #f4f4f4;
}

.covmapzoomText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	fill: #222;
	pointer-events: none;	
}

.covmaptopPanelAllocationsNumber, .covmaptopPanelCountriesNumber, .covmaptopPanelBeneficiariesNumber, .covmaptopPanelTotalNumber {
	font-family: "Arial", sans-serif;
	font-size: 48px;
	fill: #888;
}

.covmapbuttonsDiv {
	display: flex;
	width: 100%;
	margin-bottom: 2px;
	margin-top: 12px;
	justify-content: space-between;
}

.covmaptooltipButtons {
	white-space: pre;
	font-size: 10px;
	color: #444;
	background-color: white;
	padding: 1px 4px 1px 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.5);
  }

 .covmaptooltipButtons:disabled {
	color: #bbb;
	background-color: #f8f8f8;
	border: 1px solid rgba(0,0,0,0.2);
} 

.covmaptooltipButtons:hover:enabled {
	background-color: #d9d9d9;
	border-color: rgba(0,0,0,0.6);
}

.covmaptooltipButtons:active {
	background-color: #bbb;
	border-color: rgba(0,0,0,1);
}

.covmaptooltipButtons:focus {
	outline: none;
}

#covmaptooltipButtonsDisabled {
	color: white;
	background-color: #666;
}

#covmaptooltipButtonsDisabled:disabled {
	color: white;
	background-color: #ccc;
	border-color: rgba(0,0,0,0.2);
}

#covmaptooltipButtonsDisabled:hover:enabled {
	background-color: #444;
}

.covmaptooltipDetailsButtonDiv {
	width: 100%;
	display: flex;
	justify-content: center;
}

.covmaptooltipDetailsButtonDiv button {
	white-space: pre;
	font-size: 12px;
	font-weight: 700;
	color: white;
	background-color: #418fde;
	padding: 2px 8px 2px 8px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin-right: 6px;
  }

.covmaptooltipDetailsButtonDiv button:hover {
	background-color: #2e649b;
	border-color: rgba(0,0,0,0.6);
	cursor: pointer;
}

.covmaptooltipDetailsButtonDiv button:active {
	background-color: #bbb;
	border-color: rgba(0,0,0,1);
}

.covmaptooltipDetailsButtonDiv button:focus {
	outline: none;
}

.covmaptopPanelAllocationsText, .covmaptopPanelAllocationsSuperText, .covmaptopPanelCountriesText, .covmaptopPanelBeneficiariesText, .covmaptopPanelBeneficiariesSubText {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #888;
}

.covmaptimelineTitle, .covmapmapTitle {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	fill: #444;
}

.covmaptimelineDisclaimer {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	fill: #444;
}

.covmaptopPanelCbpfText, .covmaptopPanelCerfText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	fill: #888;
}

.covmaptopPanelCbpfNumber, .covmaptopPanelCerfNumber {
	font-family: "Arial", sans-serif;
	font-size: 20px;
}

.covmapTooltipSvgYAxisGroup path, .covmapTooltipSvgXAxisGroup path {
	stroke: none;
}

.covmapTooltipSvgYAxisGroup text {
	font-family: "Arial";
	font-size: 11px;
	fill: #444;
}

.covmapTooltipSvgXAxisGroup text {
	font-family: "Roboto", sans-serif;
	font-size: 9px;
	fill: #aaa;
	pointer-events: none;
}

.covmapTooltipSvgXAxisGroup line {
	stroke: #ddd;
	stroke-dasharray: 2, 2;
}

.covmaptimelineAxisGroup path, .covmaptimelineAxisGroup line {
	fill: none;
	stroke: none;
}

.covmaptimelineAxisGroup text {
	fill: #555555;
}

.covmapcbpfLabel {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.covmappieLabelsTimeline {
	font-family: "Arial", sans-serif;
	font-size: 11px;
	fill: darkslategray;
	pointer-events: none;
	text-anchor: middle;
}

.covmapiconText {
	font-family: "Arial", sans-serif;
	font-size: 11px;
	fill: darkslategray;
	pointer-events: none;
}

.covmapdisclaimer1, .covmapdisclaimer2 {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #4f6f6f;
	pointer-events: none;
}

.covmapcountryDivList {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.covmapcountryDivContainer {
	max-height: 300px;
	overflow-y: scroll;
}

.covmapAnnotationMainText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	fill: white;
}

.covmapAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}

html{
	scroll-behavior: smooth;
}

.covmaplistContainerDiv {
	border: 1px solid #eee;
	padding: 10px;
	background-color: #f5f5f5;
	margin-top: 10px;
	border-radius: 5px;
	white-space: pre-wrap;
}

.covmaplistTopDivContainer {
	width: 100%;
	display: flex;
	border-bottom: 1px dotted #ccc;
	margin-top: 0;
}

.covmaplistTopDivTitleDiv {
	font-size: 20px;
	font-family: "Arial", sans-serif;
	color: #e27628;
	flex:0 80%;
	align-content: center;
	margin-bottom: 5px;
}

.covmaplistTopDivButtonDiv {
	margin-right: 0;
	margin-bottom: 5px;
	font-family: "Arial", sans-serif;
	flex:0 20%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.covmaplistTopDivButtonDiv button, .covmaptooltipDetailsButtonDiv button {
	white-space: pre;
	font-size: 12px;
	font-weight: 700;
	color: darkslategray;
	background-color: white;
	padding: 2px 8px 2px 8px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin-right: 6px;
  }

.covmaplistTopDivButtonDiv button:hover, .covmaptooltipDetailsButtonDiv button:hover {
	background-color: whitesmoke;
	border-color: rgba(0,0,0,0.6);
	cursor: pointer;
}

.covmaplistTopDivButtonDiv button:active, .covmaptooltipDetailsButtonDiv button: active {
	background-color: gainsboro;
	border-color: rgba(0,0,0,1);
}

.covmaplistTopDivButtonDiv button:focus, .covmaptooltipDetailsButtonDiv button:focus {
	outline: none;
}

.covmapallocationContainerDiv {
	width: 100%;
	margin-bottom: 12px;
}

.covmapallocationTitle {
	margin-top: 12px;
	margin-bottom: 8px;
	border-radius: 6px;
	padding: 3px 6px 3px 6px;
	display: inline-block;
	min-width: 35%;
	color: white;
	font-size: 22px;
}

.covmapallocationHeaderDiv {
	width: 100%;
	display: flex;
	margin-bottom: 8px;
}

.covmapallocationTitleDiv {
	display: flex;
	flex-direction: column;
	flex:0 50%;
	justify-content: center;
	align-items: center;
}

.covmapallocationSourceDiv {
	display: flex;
	flex-direction: column;
	flex:0 16.65%;
	justify-content: center;
	align-items: center;
}

.covmapallocationAmountDiv {
	display: flex;
	flex-direction: column;
	flex:0 16.65%;
	justify-content: center;
	align-items: center;
}

.covmapallocationDateDiv {
	display: flex;
	flex-direction: column;
	flex:0 16.65%;
	justify-content: center;
	align-items: center;
}

.covmapallocationTitleDivText, .covmapallocationSourceDivText, .covmapallocationAmountDivText, .covmapallocationDateDivText, .covmapallocationThemeDivText, .covmapallocationSummaryDivText, .covmaplocationSummaryDivText, .covmapaffectedPersonsContainerText {
	width: 100%;
	color: #222;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 4px;
}

.covmapallocationTitleDivValue, .covmapallocationSourceDivValue, .covmapallocationAmountDivValue, .covmapallocationDateDivValue, .covmapallocationThemeDivValue, .covmapallocationSummaryDivValue, .covmaplocationSummaryDivValue, .covmapaffectedPersonsContainerValue {
	width: 100%;
	color: #444;
	font-size: 12px;
}

.covmapdisclaimersDiv {
	width: 100%;
	color: #444;
	font-size: 10px;
	font-family: "Arial", sans-serif;
	pointer-events: none;
}

.covmapallocationThemeDiv, .covmapallocationSummaryDiv, .covmapalocationSummaryDiv {
	width: 100%;
	margin-bottom: 8px;
}

.covmapaffectedPersonsContainerDiv {
	width: 100%;
	margin-top: 8px;
}

.covmapwithoutDisabledHeaderDiv, .covmapdisabledHeaderValues {
	width: 100%;
	display: flex;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #e6e6e6;
}

.covmapwithoutDisabledHeaderValues {
	width: 100%;
	display: flex;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.covmapwithoutDisabledHeaderDivText, .covmapwithoutDisabledHeaderValuesText, .covmapdisabledHeaderValuesText {
	flex:0 16.65%;
	color: #222;
	font-size: 12px;
}

#covmapSnapshotTooltip {
	z-index: 1600;
}

.covmapSnapshotContent {
	position: absolute;
	min-width: 100px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
	line-height: normal;
}

.covmapSnapshotDiv {
	line-height: 0px;
}

.covmapSnapshotContent #covmapSnapshotPdfText, .covmapSnapshotContent #covmapSnapshotPngText, .covmapSnapshotContent #covmapSnapshotTooltipPdfText, .covmapSnapshotContent #covmapSnapshotTooltipPngText {
	font-size: 14px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
}

.covmapSnapshotContent #covmapBestVisualizedText, .covmapSnapshotContent #covmapTooltipBestVisualizedText {
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
	border-top: 1px solid lightgray;
	width: 202px;
}

.covmapSnapshotContent #covmapSnapshotPdfText:hover, .covmapSnapshotContent #covmapSnapshotPngText:hover, .covmapSnapshotContent #covmapSnapshotTooltipPdfText:hover, .covmapSnapshotContent #covmapSnapshotTooltipPngText:hover {
	background-color: #1F69B3;
	color: white;
}