/*Public BI, Overview, Clusters and Beneficiaries lollipop chart (code: pbiolc)*/

#d3chartcontainerpbiolc {
	position: relative;
}

#pbiolcDownloadingDiv {
	position: absolute;
	padding: 8px;
	background: #fcfcfc; 
	border: 1px solid #222; 
	border-radius: 8px;
	pointer-events: none;
	cursor: none;
	width: 200px;
	height: 100px;
	z-index: 1500;
}

#pbiolctooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 13px;
	background: #f1f1f1; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	max-width: 326px;
	z-index: 1500;
}

.pbiolcTopDiv {
	display: flex;
	width: 100%;
	margin-bottom: 4px;
}

.pbiolcTitleDiv {
	display: flex;
	flex:0 60%;
	margin-left: 21px;
}

.pbiolcIconsDiv {
	display: flex;
	flex:0 40%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 16px;
	z-index: 1400;	
}

.pbiolcFooterDiv {
	width: 100%;
	margin-top: 8px;
}

.pbiolcYearsDescriptionDiv {
	margin-left: 22px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #888;
	width: 98%;
}

.pbiolcOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

p#pbiolcd3chartTitle {
	font-size: 26px;
	font-family: "Arial", sans-serif;
	margin: 0px;
	color: #418fde;
}

.pbiolcSelectTitleDiv {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 23px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #666;
}

.pbiolcSelectDiv {
	display: flex;
	margin-left: 23px;
	margin-right: 4px;
	flex-wrap: wrap;
}

.pbiolclaunchedValueDiv {
	width: 100%;
	margin-top: 1em;
}

.pbiolclaunchedValue {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #666;
	padding-left: 98px;
}

.pbiolcCheckboxDiv {
	display: flex;
	margin-right: 12px;
	align-items: center;
}

.pbiolcCheckboxDiv label, .pbiolcCheckboxDiv input {
	cursor: pointer;
}

.pbiolcCheckboxText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #666;
	margin-left: 2px;
}

.pbiolcCheckboxTextAllCbpfs {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-left: 2px;
	color: #f79a3b;
}

.pbiolctopPanelMainValue, .pbiolctopPanelPersonsNumber {
	font-family: "Arial", sans-serif;
	font-size: 48px;
}

.pbiolctopPanelMainText, .pbiolctopPanelSubText, .pbiolctopPanelPersonsText, .pbiolctopPanelPersonsTextSubText {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #888;
}

.pbiolcbuttonsText, .pbiolcbuttonsModalitiesText, .pbiolcbuttonsBeneficiariesText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbiolcleftArrowText, .pbiolcrightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.pbiolcDownloadText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbiolcButtonsPanelTitle {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	fill: #666;
	pointer-events: none;
}

.pbiolcLabelGroupText {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	fill: #666;
	pointer-events: none;
}

.pbiolcAllocationsPanelTitle, .pbiolcBeneficiariesPanelTitle {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	fill: #666;
	white-space: pre;
}

.pbiolcAllocationsPanelSubTitle, .pbiolcBeneficiariesPanelSubTitle {
	font-family: "Arial", sans-serif;
	font-size: 11px;
	fill: #666;
}

.pbiolcAllocationsLabel, .pbiolcBeneficiariesLabel {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.pbiolcAllocationsLabelPercentage, .pbiolcBeneficiariesLabelPercentage, .pbiolcSortByAllocations, .pbiolcSortByBeneficiaries {
	font-family: "Roboto", sans-serif;
	font-size: 9px;
	fill: #aaa;
	pointer-events: none;
}

.pbiolcgroupXAxisAllocations text, .pbiolcgroupXAxisBeneficiaries text{
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbiolcgroupXAxisAllocations path, .pbiolcgroupXAxisBeneficiaries path{
	stroke: none;
}

.pbiolcgroupXAxisAllocations line, .pbiolcgroupXAxisBeneficiaries line{
	stroke: #e4e4e4;
	stroke-dasharray: 2, 2;
}

.pbiolcAnnotationMainText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	fill: white;
}

.pbiolcAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}

.pbiolcLegendText {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
}

#pbiolcSnapshotTooltip {
	z-index: 1600;
}

.pbiolcSnapshotContent {
	position: absolute;
	min-width: 100px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
}

.pbiolcSnapshotContent #pbiolcSnapshotPdfText, .pbiolcSnapshotContent #pbiolcSnapshotPngText, .pbiolcSnapshotContent #pbiolcSnapshotTooltipPdfText, .pbiolcSnapshotContent #pbiolcSnapshotTooltipPngText {
	font-size: 14px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
}

.pbiolcSnapshotContent #pbiolcBestVisualizedText, .pbiolcSnapshotContent #pbiolcTooltipBestVisualizedText {
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
	border-top: 1px solid lightgray;
	width: 202px;
}

.pbiolcSnapshotContent #pbiolcSnapshotPdfText:hover, .pbiolcSnapshotContent #pbiolcSnapshotPngText:hover, .pbiolcSnapshotContent #pbiolcSnapshotTooltipPdfText:hover, .pbiolcSnapshotContent #pbiolcSnapshotTooltipPngText:hover {
	background-color: #1F69B3;
	color: white;
}
