#d3chartcontainerpfbiam {
  width: 100%;
  height: 100%;
}

@media (max-width: 575.98px) { 
	#sidebarToggle{display:block !important;}
	.pfbiamtopButtonsDiv .cbpf-link, .pfbicctopButtonsDiv .cbpf-link {padding: 3px 7px !important; font-size: 0.7em; line-height: normal; text-align: center;}
	.pfbiamtopButtonsDiv .cbpf-link .icon-chart, .pfbicctopButtonsDiv .cbpf-link .icon-chart{display: none !important;}
	.pfbiamtopButtonsDiv .cerf-link, .pfbicctopButtonsDiv .cerf-link {padding: 3px 7px !important; font-size: 0.7em; line-height: normal; text-align: center;}
	.pfbiamtopButtonsDiv .cerf-link .icon-chart, .pfbicctopButtonsDiv .cerf-link .icon-chart{display: none !important;}	
	.link-sidenav{left: 0;}
	.pfbiamtopButtonsDiv svg, .pfbicctopButtonsDiv svg, .pfbicdtopButtonsDiv svg, .pfcpmaintopButtonsDiv svg{display:none;}
	.pfbihpbreadcrumbDiv{padding: 0 15px 0 60px !important;}
	footer{width: 100% !important;}
	.mobile-menu{margin-top:7px !important;}	
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #FBDE8A;
  }
  50% {
    box-shadow: 0 0 0 #FBDE8A;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #FBDE8A;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #F79C8F;
  }
  50% {
    box-shadow: 0 0 0 #F79C8F;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #F79C8F;
    margin-top: 0;
  }
}

/*D3 chart styles*/

.pfbiamcontainerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*tooltip styles*/

#pfbiamtooltipDivMap, #pfbiamtooltipDivBarChart {    
  position: absolute;
  text-align: left;
  color: darkslategray;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  padding: 0;
  line-height: 120%;
  font-size: 14px;
  background: #f2f4f4; 
  border: none; 
  border-radius: 4px;
  pointer-events: none;
  cursor: none;
  z-index: 1500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#pfbiamtooltipDivMap, #pfbiamtooltipDivBarChart {
  pointer-events: all;
  cursor: default;
}

#pfbiaminnerTooltipDiv {max-width: 308px !important;}
#pfbiaminnerTooltipDiv > div:nth-child(2){padding:8px !important;}


.pfbiamcerfLink {
  font-size: 0.8em;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  margin-bottom: 12px !important; 
  border-bottom: 1px dotted #999 !important; 
  padding-bottom: 8px !important;
}

.pfbiamtooltipTitleDiv, .pfbicdtooltipTitleDiv, .pfbicpoverviewtooltipTitleDiv, .pfbicpbypartnertooltipTitleDiv, .pfbicpbysectortooltipTitleDiv, .pfbicppstooltipTitleDiv, .pfbicpcontrtooltipTitleDiv {
	margin-bottom: 3px !important;
    background-color: #3189c9;
    padding: 8px 8px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.pfbiamtooltipTitleDiv strong, .pfbicdtooltipTitleDiv strong{
	font-size: 15px !important;
}

.pfbiamtooltipTotalValue{
	display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

.pfbiamtooltipRank {
	font-size: 12px;
    color: #c1dff6;
}

.pfbiamyearTitle {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  fill: darkslategray;
}

.pfbiamtooltipCerfValue .pfbiamtooltipKeys {
	font-weight: 600 !important;
    border-radius: 15px;
    border: 2px solid #e8c760;
    padding: 2px 10px;
    font-size: 12px;
} 

.pfbiamtooltipCbpfValue .pfbiamtooltipKeys {
	font-weight: 600 !important;
    border-radius: 15px;
    border: 2px solid #e17165;
    padding: 2px 10px;
    font-size: 12px;
}

.pfbiamtooltipZeroValueCerf, .pfbiamtooltipZeroValueCbpf {

}

.pfbiamtooltipProjectsTotal, .pfbiamtooltipProjectsCerf, .pfbiamtooltipProjectsCbpf {
	font-weight: 600;
}

.pfbiamtooltipValues, .pfbiamtooltipKeys {
  flex: 1 0 auto;
}

.pfbiamtooltipKeys{
	font-weight: 600;
}

.pfbiamtooltipLeader {
  flex: 0 1 auto;
  overflow: hidden;
  color: #ccc;
}

.pfbiamtooltipLeader::before, .pfbicctooltipLeader::before, .pfbicpbypartnertooltipLeader:before, .pfbicppstooltipLeader:before {
   display: block;
   overflow: hidden;
   text-overflow: clip;
   content: 
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
}

/*end of tooltip styles*/

.pfbiammapDiv {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pfbiammapInnerDiv {
  width: 100%;
  height: 100%;
}

.pfbiambarChartDivOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background-color: rgb(255,255,255,0.6);
}

.pfbiambarChartDivTitle {
  width:100%;
  display: flex;
  height: 26px;
  flex-direction: row;
}

.pfbiambarChartDivTitleText {
  flex-basis: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  color: #444;
  padding-top: 2px;
}

.pfbiambarChartDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.pfbiamzoomPath {
  fill: white;
}

.pfbiamzoomPath:hover {
  fill: #f4f4f4;
}

.pfbiamzoomText {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  fill: #222;
  pointer-events: none; 
}

.pfbiambuttonsDiv {
  position: absolute;
  top: 1.2vh;
  width: 50%;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.pfbiamgroupName {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  pointer-events: none;
  fill: darkslategray;
  stroke: white;
  stroke-width: 2px;
  paint-order: stroke;
}

.pfbiammapContainer {
  pointer-events: none;
}

.pfbiamlegendCirclesText {
  font-family: "Arial", sans-serif;
  font-size: 9px;
  fill: darkslategray;  
}

.pfbiamlegendColors text {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  fill: darkslategray;  
}

.pfbiamshowNamesText {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  fill: darkslategray;
}

.pfbiambarTitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  fill: #666;
}

.pfbiambarTitleSpan, .pfbiccbarTitleSpan {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  fill: #666;
}

.pfbiamxAxisGroup line, .pfbiccxAxisGroupBarChart line, .pfbicdxAxisGroupTooltip line, .pfbicdcurrentYearTick, .pfbicdyAxisGroupColumn line, .pfbiccyAxisGroupColumn line, .pfbiamyAxisGroupColumnByCountry line, .pfbiamyAxisGroupColumnBySector line, .pfbiamyAxisGroupColumnByTypeCerf line, .pfbiamyAxisGroupColumnByTypeCbpf line, .pfbicpbysectoryAxisGroup line {
  stroke: darkslategray;
}

.pfbiamxAxisGroup path, .pfbiccxAxisGroupBarChart path, .pfbicdyAxisGroupTooltip path, .pfbicdxAxisGroupTooltip path, .pfbicdxAxisGroupColumn path, .pfbiccxAxisGroupColumn path, .pfbiamxAxisGroupColumnByCountry path, .pfbiamxAxisGroupColumnBySector path, .pfbiamxAxisGroupColumnByType path, .pfbiamyAxisGroup path, .pfbiccyAxisGroupBarChart path, .pfbicdyAxisGroupColumn path, .pfbiccyAxisGroupColumn path, .pfbiamyAxisGroupColumnByCountry path, .pfbiamyAxisGroupColumnBySector path, .pfbiamyAxisGroupColumnByTypeCerf path, .pfbiamyAxisGroupColumnByTypeCbpf path, .pfbicpbysectoryAxisGroup path {
  stroke: none;
}

.pfbiamxAxisGroup text {
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  text-anchor: end;
  letter-spacing: -0.25px;
}

.pfbiamcountryRanking {
  font-weight: 700;
  font-size: 10px;
  text-anchor: middle;
}

.pfbiamyAxisGroup text, .pfbiccyAxisGroupBarChart text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  fill: #999;
  pointer-events: none;
}

.pfbiamlabelsColumnByCountry, .pfbiamlabelsColumnBySector, .pfbiamlabelsColumnByTypeCerf, .pfbiamlabelsColumnByTypeCbpf {
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  fill: #333;
  letter-spacing: -0.25px;
  pointer-events: none;
  dominant-baseline: central;
} 

.pfbiamxAxisGroupColumnByCountry text, .pfbiamxAxisGroupColumnBySector text, .pfbiamxAxisGroupColumnByType text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  fill: #888;
  pointer-events: none;
}

.pfbiamyAxisGroupColumnByCountry text, .pfbiamyAxisGroupColumnBySector text, .pfbiamyAxisGroupColumnByTypeCerf text, .pfbiamyAxisGroupColumnByTypeCbpf text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  fill: #888;
  pointer-events: none;
  letter-spacing: -0.25px;
}

.pfbiamdarkTick {
  fill: black !important;
  font-weight: 500;
}
  
.pfbiamxAxisGroupColumnByCountry line, .pfbiamxAxisGroupColumnBySector line, .pfbiamxAxisGroupColumnByType line, .pfbicpbysectorxAxisGroup line {
  stroke: #ddd;
  stroke-dasharray: 2, 2;
}

.pfbiamyAxisGroup line, .pfbiccyAxisGroupBarChart line {
  stroke: #ddd;
  stroke-dasharray: 2, 2;
}

.pfbiampiesNoData {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  fill: #666;
  pointer-events: none;
  text-anchor: middle;
}

.pfbiambuttonsDiv button, .pfbicdbuttonsDiv button {
  margin: 0px 0px 0px 8px;
  display: inline-flex;
  align-items: center; 
  white-space: pre;
  z-index: 1000;
  border: 1px solid #BCBEC0;
  font-size: 0.8rem;
  padding: 0 10px 0 0;
  border-radius: 3px;
  background-color: #eee;
  line-height: normal;
  transition: all 0.2s linear;
  outline: 0;
}

.pfbiambuttonsDiv button .icon-circle, .pfbicdbuttonsDiv button .icon-circle{
  background-color: #fff;
  padding: 5px;
  display: inline-flex;
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
}

.pfbiambuttonsDiv button:hover{background-color: #3289C9; color:#fff; border-color:#3289C9;}
.pfbiambuttonsDiv button.activeButton{background-color: #3289C9; color:#fff; border-color:#3289C9;}

.fa-adjust {
  color: transparent;
  background: linear-gradient(to right, #FBD45C 0%, #FBD45C 50%, #F37261 50%, #F37261 100%);
  border-radius: 50%;
}

.pfbiambarsLabels {
  text-anchor: middle;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  fill: #888;
}

.pfbiamouterDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.pfbiamtopButtonsDiv {
  display: flex;
  flex:0 50%;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.pfbiamtopButtonsDiv button{
	border: 1px solid #3289c9;
  border-radius: 3px;
  font-size: 0.7em;
  padding: 0 10px;
  line-height: normal;
  height: 21px;
  color: #3289c9;
  background-color: #fff;
  margin-left: 7px;
	vertical-align: top;
}

.pfbiamtopButtonsDiv .pfbihpSnapshotDiv {line-height: normal;}
.pfbiamtopButtonsDiv button:hover {background-color: #3289c9; color:#fff;}

.pfbiamtwoColorsBorder {
  border-image: linear-gradient(to right, #FBD45C 45%, #F37261 55%, #F37261 100%); 
  border-image-slice: 1;
}

#pfbiamyearNumberText {
  fill: #dadcdf;
  font-size: 20em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-anchor: middle;
  dominant-baseline: middle;
}

.pfbiamcovidDisclaimer {
  position: absolute;
  top: 5%;
  left: 1%;
  width:  240px;
  text-align: left;
  color: darkslategray;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  padding: 0;
  line-height: 120%;
  font-size: 12px;
  background: #f2f4f4; 
  border: none;
  border-radius: 4px;
  z-index: 50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pfbiamcovidDisclaimerTopDiv {
  width: 100%;
  display: flex;
  margin-bottom: 6px;
  align-items: center;
  height: 35px !important;
  background-color: #3289c9;
  padding: 8px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0 !important;
  height: 30px;
}

.pfbiamcovidDisclaimerTopDiv b {
  font-size: 1rem !important;
  color: #fff !important;
}

.pfbiamcovidDisclaimerTopDivMain {
  flex: 0 80%;
}

.pfbiamcovidDisclaimerTopDivClose {
  flex: 0 20%;
  font-size: 25px;
  text-align: right;
}

.pfbiamcovidDisclaimerTopDivClose svg{
  color: #b2d3ed !important;
    font-weight: normal !important;
    width: 20px !important;
}

.pfbiamcovidDisclaimerDivMain {
  padding: 8px; 
}

.pfbiamcovidDisclaimerDivMain p {
  margin-bottom: 0px !important;
}

.pfbiamvenezuelaDisclaimerDiv {
  position: absolute;
  bottom: 100%;
  right: 2%;
  width: 26em;
  text-align: left;
  color: darkslategray;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  padding: 1em;
  font-size: 0.7em;
  line-height: 1.2;
  background: rgba(255, 255, 255, 0.6); 
  border: none;
  border-radius: 4px;
  z-index: 50;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pfbiamcloseButton {
  float: right;
  margin-left: 6px;
  cursor: pointer;
  font-size: 1.4em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}