/*Public BI, Overview, Beneficiaries bar and pictogram (code: pbiobe)*/

#pbiobetooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f1f1f1; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	max-width: 280px;
	z-index: 1500;
}

.pbiobebuttonsText, .pbiobebuttonsModalitiesText, .pbiobebuttonsBeneficiariesText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbiobeleftArrowText, .pbioberightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.pbiobePercentagePanelTitle, .pbiobePictogramsPanelTitle {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #666;
	pointer-events: none;
}

.pbiobegroupXAxisPercentage text{
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbiobegroupYAxisPercentage text{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	fill: #666;
	pointer-events: none;
}

.pbiobegroupXAxisPercentage path, .pbiobegroupYAxisPercentage path, .pbiobegroupYAxisPercentage line{
	stroke: none;
}

.pbiobegroupXAxisPercentage line{
	stroke: #e4e4e4;
	stroke-dasharray: 2, 2;
}

.pbiobeBarsPercentage {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	pointer-events: none;
}

.pbiobeBarsTotalLine1 {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbiobeBarsTotalLine2 {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
	fill: #444;
}

.pbiobeBarsTotalSpan {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	pointer-events: none;
	fill: #888;
}

.pbiobeLegendGroup text, .pbiobePictogramLegendText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.pbiobeDownloadText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
}
