/*PFBI, Net Funding Alluvial Diagram (code: pbinad)*/

#d3chartcontainerpbinad {
	position: relative;
}

#pbinadDownloadingDiv {
	position: absolute;
	padding: 8px;
	background: #fcfcfc; 
	border: 1px solid #222; 
	border-radius: 8px;
	pointer-events: none;
	cursor: none;
	width: 200px;
	height: 100px;
	z-index: 1500;
}

#pbinadtooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f8f8f8; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	z-index: 1500;
}

.pbinadTopDiv {
	display: flex;
	width: 100%;
	margin-bottom: 4px;
}

.pbinadTitleDiv {
	display: flex;
	flex:0 60%;
	margin-left: 8px;
}

.pbinadIconsDiv {
	display: flex;
	flex:0 40%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 16px;
	z-index: 1000;
}

.pbinadtimelineDiv {
	width: 96%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: auto;
	margin-left: auto;
}

.pbinadtimelineHeader {
	font-family: "Arial";
	font-size: 16px;
	font-weight: 700;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
}

.pbinadtimelineSubtitle {
	font-family: "Montserrat";
	font-size: 15px;
	color: #444;
	margin-top: 2px;
	margin-bottom: 8px;
}

.pbinadtimelinesDisclaimer {
	font-family: "Arial";
	font-size: 11px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.pbinadtimelineContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pbinadtimelines {
	display: flex;
	margin-bottom: 4px;
	border-radius: 4px;
	background-color: #f4f4f4;
}

.pbinadtimelinesNameDiv {
	display: flex;
	flex:0 30%;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #444;
	font-weight: 700;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8px;
}

.pbinadtimelineSvgInitialValue, .pbinadtimelineSvgFinalValue {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbinadtimelinesNameDiv p {
	text-align: right;
	margin: 0px;
	line-height: 1;
}

.pbinadtimelinesChartDiv {
	display: flex;
	flex:0 70%;
	flex-wrap: nowrap;
}

.pbinadtimelinesArrowDiv {
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-family: "Arial", sans-serif;
	flex-wrap: nowrap;
	display: flex;
}

.pbinadtimelinePercentage {
	padding-left: 2px;
	font-size: 12px;
	color: #444;
}

.pbinadFooterDiv {
	width: 100%;
	margin-top: 8px;
}

.pbinadYearsDescriptionDiv {
	margin-left: 22px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #888;
	width: 98%;
}

.pbinadOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

p#pbinadd3chartTitle {
	font-size: 26px;
	font-family: "Arial", sans-serif;
	margin: 0px;
	color: #418fde;
}

.pbinadSelectTitleDiv {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 8px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #666;
}

.pbinadSelectDiv {
	display: flex;
	margin-left: 8px;
	margin-right: 4px;
	flex-wrap: wrap;
}

.pbinadCheckboxDiv {
	display: flex;
	margin-right: 12px;
	align-items: center;
}

.pbinadCheckboxDiv label, .pbinadCheckboxDiv input {
	cursor: pointer;
}

.pbinadCheckboxDiv label{
	margin-bottom: 0px;
}

.pbinadCheckboxText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #666;
	margin-left: 2px;
}

.pbinadCheckboxTextAllCbpfs {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-left: 2px;
	color: #f79a3b;
}

.pbinadbuttonsText, .pbinadbuttonsAggregationText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbinadleftArrowText, .pbinadrightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.pbinadtopPanelMainValue {
	font-family: "Arial", sans-serif;
	font-size: 48px;
}

.pbinadtopPanelPartnersValue, .pbinadtopPanelSubpartnersValue, .pbinadtopPanelAllocatedValue, .pbinadtopPanelUnderApprovalValue {
	font-family: "Arial", sans-serif;
	font-size: 22px;
}

.pbinadtopPanelMainText, .pbinadtopPanelSubText {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #888;
}

.pbinadtopPanelPartnersText, .pbinadtopPanelPartnersSubText, .pbinadtopPanelSubpartnersText, .pbinadtopPanelAllocatedText, .pbinadtopPanelUnderApprovalText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	fill: #888;
}

.pbinadsankeyLegendTitle {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: 700;
	fill: #888;
}

.pbinadlegendText, .pbinadcurlyText, .pbinadtypePercentageSubText, .pbinadtypeArrowSpan, .pbinadsankeyPartnerValuesLabelsSubText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbinadtypePercentage, .pbinadcurlyTspan, .pbinadsankeyPartnerValuesLabels {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #444;
	font-weight: 700;
}

.pbinadtypePercentageArrow {
	font-size: 10px;
	font-weight: 700;
}

.pbinadsankeyFundLabels, .pbinadsankeyPartnerLabels, .pbinadsankeySubpartnerLabels, .pbinadongoingLabels {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #222;
	pointer-events: none;
}

.pbinadsankeyAnnotations {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.pbinadsankeyNoData {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #666;
	pointer-events: none;
	text-anchor: middle;
}

.pbinadTooltipSvgYAxisGroup path, .pbinadTooltipSvgXAxisGroup path {
	stroke: none;
}

.pbinadTooltipSvgYAxisGroup text {
	font-family: "Arial";
	font-size: 11px;
	fill: #777;
}

.pbinadTooltipSvgXAxisGroup text {
	font-family: "Roboto", sans-serif;
	font-size: 9px;
	fill: #aaa;
	pointer-events: none;
}

.pbinadTooltipSvgXAxisGroup line {
	stroke: #ddd;
	stroke-dasharray: 2, 2;
}

.pbinadtooltipSvgLabel {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.pbinadAnnotationMainText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	fill: white;
}

.pbinadAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}

#pbinadSnapshotTooltip {
	z-index: 1600;
}

.pbinadSnapshotContent {
	position: absolute;
	min-width: 100px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
}

.pbinadSnapshotContent #pbinadSnapshotPdfText, .pbinadSnapshotContent #pbinadSnapshotPngText, .pbinadSnapshotContent #pbinadSnapshotTooltipPdfText, .pbinadSnapshotContent #pbinadSnapshotTooltipPngText {
	font-size: 14px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
}

.pbinadSnapshotContent #pbinadBestVisualizedText, .pbinadSnapshotContent #pbinadTooltipBestVisualizedText {
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
	border-top: 1px solid lightgray;
	width: 202px;
}

.pbinadSnapshotContent #pbinadSnapshotPdfText:hover, .pbinadSnapshotContent #pbinadSnapshotPngText:hover, .pbinadSnapshotContent #pbinadSnapshotTooltipPdfText:hover, .pbinadSnapshotContent #pbinadSnapshotTooltipPngText:hover {
	background-color: #1F69B3;
	color: white;
}

.pbinadongoingTitle {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	fill: #444;
	pointer-events: none;
	text-anchor: middle;
	font-weight: bold;
}

.pbinadtopPanelAllocatedText, .pbinadtopPanelUnderApprovalText, .pbinadtopPanelPartnersText, .pbinadtopPanelSubpartnersText {
	letter-spacing: -0.5px;
}