/*Public BI, Overview, Beneficiaries bar and pictogram (code: pbiobe)*/

#d3chartcontainerpbiobe {
	position: relative;
}

#pbiobeDownloadingDiv {
	position: absolute;
	padding: 8px;
	background: #fcfcfc; 
	border: 1px solid #222; 
	border-radius: 8px;
	pointer-events: none;
	cursor: none;
	width: 200px;
	height: 100px;
	z-index: 1500;
}

#pbiobetooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f1f1f1; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	max-width: 280px;
	z-index: 1500;
}

.pbiobeTopDiv {
	display: flex;
	width: 100%;
	margin-bottom: 4px;
}

.pbiobeTitleDiv {
	display: flex;
	flex:0 60%;
	margin-left: 64px;
}

.pbiobeIconsDiv {
	display: flex;
	flex:0 40%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 16px;
	z-index: 1400;
}

.pbiobeFooterDiv {
	width: 100%;
	margin-top: "1em";
}

.pbiobeYearsDescriptionDiv {
	margin-left: 64px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #888;
	width: 98%;
}

.pbiobeOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

p#pbiobed3chartTitle {
	font-size: 26px;
	font-family: "Arial", sans-serif;
	margin: 0px;
	color: #418fde;
}

.pbiobeSelectTitleDiv {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 64px;
	font-family: "Arial", sans-serif;
	font-size: 18px;
	color: #666;
}

.pbiobeSelectDiv {
	display: flex;
	margin-left: 64px;
	margin-right: 4px;
	flex-wrap: wrap;
}

.pbiobeCheckboxDiv {
	display: flex;
	margin-right: 12px;
	align-items: center;
}

.pbiobeCheckboxDiv label, .pbiobeCheckboxDiv input {
	cursor: pointer;
}

.pbiobeCheckboxText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #666;
	margin-left: 2px;
}

.pbiobeCheckboxTextAllCbpfs {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-left: 2px;
	color: #f79a3b;
}

.pbiobetopPanelMainValue, .pbiobetopPanelPersonsActual {
	font-family: "Arial", sans-serif;
	font-size: 48px;
}

.pbiobetopPanelMainText, .pbiobetopPanelSubText, .pbiobetopPanelPersonsText, .pbiobetopPanelPersonsTextSubText {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #888;
}

.pbiobebuttonsText, .pbiobebuttonsModalitiesText, .pbiobebuttonsBeneficiariesText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbiobeleftArrowText, .pbioberightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.pbiobePercentagePanelTitle, .pbiobePictogramsPanelTitle {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	fill: #666;
	pointer-events: none;
}

.pbiobegroupXAxisPercentage text{
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbiobegroupYAxisPercentage text{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	fill: #666;
	pointer-events: none;
}

.pbiobegroupXAxisPercentage path, .pbiobegroupYAxisPercentage path, .pbiobegroupYAxisPercentage line{
	stroke: none;
}

.pbiobegroupXAxisPercentage line{
	stroke: #e4e4e4;
	stroke-dasharray: 2, 2;
}

.pbiobeBarsPercentage {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	pointer-events: none;
}

.pbiobeBarsTotalLine1 {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbiobeBarsTotalLine2 {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
	fill: #444;
}

.pbiobeBarsTotalSpan {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	pointer-events: none;
	fill: #888;
}

.pbiobeLegendGroup text, .pbiobePictogramLegendText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.pbiobeAnnotationMainText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	fill: white;
}

.pbiobeAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}

#pbiobeSnapshotTooltip {
	z-index: 1600;
}

.pbiobeSnapshotContent {
	position: absolute;
	min-width: 100px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
}

.pbiobeSnapshotContent #pbiobeSnapshotPdfText, .pbiobeSnapshotContent #pbiobeSnapshotPngText, .pbiobeSnapshotContent #pbiobeSnapshotTooltipPdfText, .pbiobeSnapshotContent #pbiobeSnapshotTooltipPngText {
	font-size: 14px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
}

.pbiobeSnapshotContent #pbiobeBestVisualizedText, .pbiobeSnapshotContent #pbiobeTooltipBestVisualizedText {
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
	border-top: 1px solid lightgray;
	width: 202px;
}

.pbiobeSnapshotContent #pbiobeSnapshotPdfText:hover, .pbiobeSnapshotContent #pbiobeSnapshotPngText:hover, .pbiobeSnapshotContent #pbiobeSnapshotTooltipPdfText:hover, .pbiobeSnapshotContent #pbiobeSnapshotTooltipPngText:hover {
	background-color: #1F69B3;
	color: white;
}