/*Public BI, Contributions tab, line graph (code: pbicli)*/

#d3chartcontainerpbicli {
	position: relative;
}

#pbiclitooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f1f1f1; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	max-width: 290px;
}

#pbiclialertdiv {
	position: absolute;    
	text-align: center;
	color: whitesmoke;
	font-family: "Arial";
	white-space: normal;
	padding: 12px;
	line-height: 120%;
	font-size: 14px;
	background: #418fde; 
	border: 1px solid #fff; 
	border-radius: 4px;
	max-width: 200px;
	z-index: 200;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pbiclialertdivcontainer {
	display: flex;
	justify-content: center;
	margin-top: 18px;
}

.pbiclialertyesorno {
	padding: 4px 10px 4px 10px;
	font-size: 14px;
	background: #2e649b; 
	border: 1px solid #eee; 
	border-radius: 8px;
	color: white;
	margin-right: 8px;
	cursor: pointer;
}

.pbicliOuterDiv {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.pbicliTopDiv {
	display: flex;
	width: 100%;
	margin-bottom: 0.88vw;
}

.pbicliTitleDiv {
	display: flex;
	flex:0 80%;
	margin-left: 1.5vw;
}

.pbicliTitle {
	font-size: 1.8vw;
	font-family: "Arial", sans-serif;
}

.pbicliIconsDiv {
	display: flex;
	flex:0 20%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 1vw;
}

.pbicliIconsDiv button {
	white-space: pre;
	font-size: 0.8vw;
	font-weight: 700;
	color: white;
	background-color: #418fde;
	padding: 0.2vw 0.6vw 0.2vw 0.6vw;
	border-radius: 0.4vw;
	-moz-border-radius: 0.4vw;
	-webkit-border-radius: 0.4vw;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 0.2vw;
	border-right-width: 0.2vw;
	margin-right: 0.4vw;
  }

.pbicliIconsDiv button:hover {
	background-color: #2e649b;
	border-color: rgba(0,0,0,0.6);
	cursor: pointer;
}

.pbicliIconsDiv button:active {
	background-color: #bbb;
	border-color: rgba(0,0,0,1);
}

.pbicliIconsDiv button:focus {
	outline: none;
}

.pbicliTopSelectionDiv {
	display: flex;
	width: 100%;
	margin-top: 0.44vw;
	margin-bottom: 0.44vw;
}

.pbicliDonorsSelectionDiv {
	display: flex;
	flex:0 50%;
	align-items: center;
	margin-left: 1.6vw;
}

.pbicliCbpfsSelectionDiv {
	display: flex;
	flex:0 50%;
	align-items: center;
	margin-left: 1.6vw;
}

.pbicliDropdownLabel {
	font-family: "Roboto", sans-serif;
	font-size: 1vw;
	margin-right: 0.2vw;
	color: #444;
	margin-top:0;
	margin-bottom:0;
	margin-left: 0.8vw;
}

.pbicliRadioLabel {
	font-family: "Roboto", sans-serif;
	font-size: 0.8vw;
	color: #444;
	margin-left: 0.2vw;
	margin-right: 1vw;
}

#pbicliDonorsDropdown, #pbicliCurrencyDropdown {
	width: 9.6vw;
}

.pbicliFiltersDiv {
	display: flex;
	width: 100%;
	margin-bottom: 0.44vw;
	margin-left: 2vw;
}

.pbicliBorderDiv {
	display: flex;
	width: 98%;
	margin: auto;
	max-height: 1px;
}

.pbicliFooterDiv {
	width: 100%;
}

.pbicliCheckbox {
	margin-left: 2vw; 
}

.pbicliLegendDiv {
	display: flex;
	width: 100%;
	margin-bottom: 0.44vw;
	margin-top: 0.44vw;
}

.pbicliDonorsLegendDiv {
	display: flex;
	flex:0 50%;
	align-items: center;
	margin-left: 1.6vw;
	flex-direction: column;
}

.pbicliCbpfsLegendDiv {
	display: flex;
	flex:0 50%;
	align-items: center;
	margin-left: 1.6vw;
	flex-direction: column;
}

.pbicliDonorsLegendDivTop, .pbicliCbpfsLegendDivTop {
	display: flex;
	width: 100%;
	margin-bottom: 0.4vw;
}

.pbicliDonorsLegendDivBottom, .pbicliCbpfsLegendDivBottom {
	display: flex;
	width: 98%;
	margin-left: 0.5vw;
	flex-wrap: wrap;
}

.pbicliDonorsTopLegend, .pbicliCbpfsTopLegend {
	font-family: "Roboto", sans-serif;
	font-size: 1vw;
	color: #666;
	line-height: 1.2;
	margin-left: 0.8vw;
}

.pbicliDonorsTopLegendSubtext, .pbicliCbpfsTopLegendSubtext {
	font-family: "Roboto", sans-serif;
	font-size: 0.7vw;
	color: #666;
	font-style: italic;
}

.pbicliSelectedDonorsDiv, .pbicliSelectedCbpfsDiv {
	display: flex;
	flex-wrap: wrap;
	border: 0.05vw solid gray;
	border-radius: 0.33vw;
	margin-right: 0.22vw;
	margin-bottom: 0.22vw;
	align-items: center;
}

.pbicliSelectedDonorsDivText, .pbicliSelectedCbpfsDivText {
	font-family: "Roboto", sans-serif;
	font-size: 0.8vw;
	color: #444;
	margin-left: 0.4vw;
	margin-top: 0.11vw;
	margin-bottom: 0.11vw;
}

.pbicliSelectedDonorsFlagDiv {
	display: flex;
	margin-left: 0.2vw;
	margin-right: 0.2vw;
}

.pbicliSelectedDonorsCloseDiv, .pbicliSelectedCbpfsCloseDiv {
	display: flex;
	cursor: pointer;
	font-size: 0.8vw;
	align-items: center;
	padding-left: 0.2vw;
	padding-right: 0.2vw;
	height: 100%;
	border-radius: 0vw 0.3vw 0.3vw 0vw;
}

.pbicliCheckboxDonorsDiv, .pbicliCheckboxCbpfsDiv {
	margin-right: 0.4vw;
}

.pbicliCheckboxText {
	font-family: "Roboto", sans-serif;
	font-size: 0.8vw;
	color: #444;
}

.pbicliSelectedCbpfsCloseDiv {
	margin-left: 0.2vw;
}

.pbicliSelectedDonorsCloseDiv:hover, .pbicliSelectedCbpfsCloseDiv:hover {
	background-color: lightgray;
}

.pbicliFooterText {
	font-family: "Arial", sans-serif;
	font-size: 0.8vw;
	color: #888;
	text-align: right;
	width: 98%;
}

.pbicliOverDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	top: 0;
	left: 0;
	z-index: 10;
}

.pbicliOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	top: 0;
	left: 0;
	z-index: 10;
}

.pbicligroupXAxisDonors text, .pbicligroupXAxisCbpfs text, .pbicligroupYAxisDonors text, .pbicligroupYAxisCbpfs text{
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #888;
	pointer-events: none;
}

.pbicligroupXAxisDonors path, .pbicligroupXAxisCbpfs path, .pbicligroupYAxisDonors path, .pbicligroupYAxisCbpfs path{
	stroke: gray;
}

.pbicligroupXAxisDonors line, .pbicligroupXAxisCbpfs line {
	stroke: gray;
}

.pbicligroupYAxisDonors line, .pbicligroupYAxisCbpfs line{
	stroke: #e2e2e2;
	stroke-dasharray: 2, 2;
}

.pbicligroupYAxisDonorsLocalCurrency line {
	stroke: #E56A54;
	fill: none;
} 

.pbicligroupYAxisDonorsLocalCurrency path {
	stroke: none;
	fill: none;
} 

.pbicligroupYAxisDonorsLocalCurrency text {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #E56A54;
	pointer-events: none;
}

.pbicliYAxisLabel {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
}

.pbicliYAxisLabelLocalCurrency {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #E56A54;
}

.pbicliFutureDonationsText {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbicliDonorsPath {
	fill: none;
	stroke: #418fde;
	stroke-width: 2px;
}

.pbicliDonorsCircles {
	fill: #418fde;
}

.pbicliDonorsPathLocal {
	fill: none;
	stroke: #E56A54;
	stroke-width: 2px;
}

.pbicliDonorsCirclesLocal {
	fill: #E56A54;
}

.pbicliCbpfsPath {
	fill: none;
	stroke: #eca154;
	stroke-width: 2px;
}

.pbicliCbpfsCircles {
	fill: #eca154;
}

.pbicliLabelText {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
	cursor: default;
}

.pbicliLabelTextSmall {
	font-family: "Roboto", sans-serif;
	font-size: 9px;
	cursor: default;
}

.pbicliAnnotationMainText {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	font-weight: 700;
	pointer-events: none;
}

.pbicliAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}
