/*Public BI, Force-directed graph Contributions (code: pbifdc)*/

#d3chartcontainerpbifdc {
	position: relative;
}

#pbifdcDownloadingDiv {
	position: absolute;
	padding: 8px;
	background: #fcfcfc; 
	border: 1px solid #222; 
	border-radius: 8px;
	pointer-events: none;
	cursor: none;
	width: 200px;
	height: 100px;
	z-index: 1500;
}

#pbifdctooltipdiv {    
	position: absolute;
	text-align: left;
	color: darkslategray;
	font-family: "Arial";
	white-space: normal;
	padding: 8px;
	line-height: 120%;
	font-size: 14px;
	background: #f1f1f1; 
	border: 1px solid #999; 
	border-radius: 4px;
	pointer-events: none;
	cursor: none;
	max-width: 270px;
	z-index: 1500;
}

.pbifdcTopDiv {
	display: flex;
	width: 100%;
	margin-bottom: 4px;
}

.pbifdcTitleDiv {
	display: flex;
	flex:0 60%;
	margin-left: 31px;
}

.pbifdcIconsDiv {
	display: flex;
	flex:0 40%;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 16px;
}

.pbifdcFooterDiv {
	width: 100%;
}

.pbifdcYearsDescriptionDiv {
	margin-left: 32px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #888;
	width: 98%;
}

.d3chartFooterText {
	width: 99.2%;
}

.pbifdcOverDivHelp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

p#pbifdcd3chartTitle {
	font-size: 26px;
	font-family: "Arial", sans-serif;
	margin: 0px;
	color: #418fde;
}

.pbifdctopPanelMainValue {
	font-family: "Arial", sans-serif;
	font-size: 48px;
}

.pbifdctopPanelDonorsNumber {
	font-family: "Arial", sans-serif;
	font-size: 48px;
}

.pbifdctopPanelCbpfsNumber, .pbifdctopPanelRhpfsNumber {
	font-family: "Arial", sans-serif;
}

.pbifdctopPanelMainText, .pbifdctopPanelSubText {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	fill: #888;
}

.pbifdctopPanelDonorsText {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	fill: #888;
}

.pbifdctopPanelCbpfsText, .pbifdctopPanelRhpfsText {
	font-family: "Arial", sans-serif;
	fill: #888;
}

.pbifdcbuttonsText {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.pbifdcleftArrowText, .pbifdcrightArrowText {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.pbifdcDownloadText {
	font-family: "Arial", sans-serif;
	font-size: 10px;
	fill: #666;
}

.pbifdcShowMapTextControl {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: #666;
}

.pbifdcNodesLabelBack {
	font-family: "Roboto", sans-serif;
	fill: white;
	font-size: 10px;
	stroke: white;
	stroke-width: 3px;
}

.pbifdcNodesLabel {
	font-family: "Roboto", sans-serif;
	fill: #444;
	font-size: 10px;
}

.pbifdcLegendTitle {
	font-family: "Roboto", sans-serif;
	fill: #444;
	font-size: 18px;
}

.pbifdcLegendSubTitle {
	font-family: "Roboto", sans-serif;
	fill: #444;
	font-size: 14px;
}

.pbifdcLegendTextSmall {
	font-family: "Roboto", sans-serif;
	fill: #777;
	font-size: 12px;
}

.pbifdcLegendTextSmall2 {
	font-family: "Roboto", sans-serif;
	fill: #888;
	font-size: 12px;
}

.pbifdcLegendTextSmall3 {
	font-family: "Roboto", sans-serif;
	fill: #888;
	font-size: 10px;
}

.pbifdcYAxisLegendGroup path {
	stroke: none;
}

.pbifdcYAxisLegendGroup text {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #666;
	pointer-events: none;
}

.pbifdcXAxisLegendGroup path {
	stroke: none;
}

.pbifdcXAxisLegendGroup text {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #aaa;
	pointer-events: none;
}

.pbifdcXAxisLegendGroup line {
	stroke: #ddd;
	stroke-dasharray: 2, 2;
}

.pbifdcLegendLabel {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	fill: #777;
	pointer-events: none;
}

.pbifdcShowMapGroupLegendText {
	font-family: "Crimson Text", serif;
	fill: #aaa;
	font-size: 12px;
}

.pbifdcGeoMenuTitle {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	fill: #444;
	pointer-events: none;	
}

.pbifdcGeoMenuText {
	font-family: "Arial", sans-serif;
	font-size: 11px;
	fill: #666;
	cursor: default;	
}

.pbifdcAnnotationMainText {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	fill: white;
}

.pbifdcAnnotationText {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	fill: #222;
	pointer-events: none;
}

#pbifdcSnapshotTooltip {
	z-index: 1600;
}

.pbifdcSnapshotContent {
	position: absolute;
	min-width: 100px;
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
}

.pbifdcSnapshotContent #pbifdcSnapshotPdfText, .pbifdcSnapshotContent #pbifdcSnapshotPngText, .pbifdcSnapshotContent #pbifdcSnapshotTooltipPdfText, .pbifdcSnapshotContent #pbifdcSnapshotTooltipPngText {
	font-size: 14px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
}

.pbifdcSnapshotContent #pbifdcBestVisualizedText, .pbifdcSnapshotContent #pbifdcTooltipBestVisualizedText {
	font-size: 11px;
	padding: 10px;
	margin: 0px;
	color: #222;
	font-family: "Arial", sans-serif;
	border-top: 1px solid lightgray;
	width: 202px;
}

.pbifdcSnapshotContent #pbifdcSnapshotPdfText:hover, .pbifdcSnapshotContent #pbifdcSnapshotPngText:hover, .pbifdcSnapshotContent #pbifdcSnapshotTooltipPdfText:hover, .pbifdcSnapshotContent #pbifdcSnapshotTooltipPngText:hover {
	background-color: #1F69B3;
	color: white;
}

.pbifdcinfoIcon {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 18px;
}

.pbifdcFundsDiv ul {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-inline-start: 20px;
}

.pbifdcfundsDivTitle {
	margin-bottom: 8px;
	font-weight: bold;
}