/*TASK flow chart styles*/

#chartContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #f3f5f8;
	border-radius: 8px;
	padding: 8px;
	position: relative;
}

.taskflowChartDivContainer {
	flex: 0 75%;
	border-right: 3px solid #fff;
	display: flex;
	flex-direction: column;
}

.taskflowChartTopDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 3px solid #fff;
	margin-top: -8px;
}

.taskflowChartTopDivButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	/* margin-left: 1em;
	margin-right: 1em; */
	padding-left: 2em;
}

.taskflowChartTopDivCurrentStatus {
	padding-right: 1em;
}

.taskflowChartCurrentStatusDiv {
	align-items: center;
	white-space: pre;
	border-radius: 4px;
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.taskcurrentStatusValueSpan {
	font-weight: bold;
}

.taskflowChartDivWrapper,
.taskflowChartDiv,
.taskflowChartDivLinear {
	width: 100%;
	height: 100%;
	position: relative;
}

.taskflowChartDiv,
.taskflowChartDivLinear {
	position: absolute;
}

.tasksideDiv {
	flex: 0 25%;
	padding-left: 0.8%;
	padding-right: 0.8%;
	/*	display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
}

.tasksideDivTitle {
	position: relative;
	min-height: 48px;
	/*	flex: 0 10%;*/
}

.tasknodeText,
.tasknodeTextLinear {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	text-anchor: middle;
	dominant-baseline: middle;
}

details {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
	position: absolute;
	width: 100%;
	background-color: white;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}

summary span {
	padding-left: 0.5em;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

.tasksideDivContainer {
	width: 100%;
}

.tasklistRowsContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 6px;
	margin-bottom: 8px;
	align-items: flex-end;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}

.tasklistRowsTasks {
	width: 100%;
	padding-left: 10%;
	background-color: #f3f5f8;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: max-height 0.2s ease-out;
	max-height: 0;
	overflow: hidden;
	color: #888;
}

.tasklistRowsArrow {
	margin-left: 8px;
	margin-right: 8px;
	transition: all 0.2s linear;
	color: #aaa;
}

.tasklistRowsContainer.active .tasklistRowsArrow {
	transform: rotate(180deg);
}

.tasklistRowsContainer.active .tasklistRowsTasks {
	border-top: 1px solid #ddd;
}

.tasklistRowsContainer.active .tasklistRowsTasks:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.tasklistRowsTasksSpan {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: darkslategray;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 6px;
}

.tasklistRows {
	width: 100%;
	min-height: 34px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.tasklistRowsNumber {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	border-radius: 50%;
	margin-left: 8px;
	width: 24px;
	height: 24px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #ddd;
}

.tasklistRowsNumber span {
	color: #000;
}

.tasklistRowsText {
	flex: 0 90%;
	margin-left: 8px;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: darkslategray;
}

.taskstageDiv {
	width: 100%;
	border-radius: 8px;
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 8px;
}

.taskstageText {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #222;
}

.tasklinksGroup {
	fill: none;
}

.tasklabelsGroupText,
.tasklabelsGroupLinearText,
.tasksubTasksText {
	dominant-baseline: central;
	text-anchor: middle;
	font-size: 12px;
	font-family: "Arial", sans-serif;
}

dialog {
	border-radius: 8px;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 0px;
	font-family: "Arial", sans-serif;
}

.taskdialogBody {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.taskdialogFieldContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5em;
}

.taskdialogFieldLabel {
	font-size: 13px;
	color: #666;
	white-space: pre;
}

.taskdialogFieldValue {
	font-size: 14px;
	color: #222;
	font-weight: 500;
}

.taskdialogCloseButton {
	align-self: center;
	background-color: #5392cb;
	color: white;
	border-radius: 4px;
	border: none;
	padding: 0.5em;
	margin-top: 1em;
	font-size: 14px;
}

.taskdialogCloseButton:focus {
	outline: none;
}

.taskdialogTitle {
	background-color: #5392cb;
	color: white;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: pre-wrap;
	padding: 1em;
}

.taskdialogTitleProjectLog {
	font-size: 16px;
	font-weight: 300;
}

.taskdialogTitleProjectName {
	font-size: 16px;
	font-weight: bold;
}

.taskinputDivs input {
	display: none;
}

.taskinputDivs {
	height: 100%;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #444;
	display: flex;
	align-items: center;
}

.taskinputDivs.active label {
	border-bottom: 3px solid #5392cb;
}

.taskinputDivs label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 0px;
	border-bottom: 3px solid transparent;
}

.taskinputDivs:hover {
	background-color: #dddee1;
}

.tasklinearContainerDiv {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow-y: scroll;
}

.tasksubTasksCircle {
	fill: white;
	stroke: #666;
	stroke-width: 1;
}

.tasklinearLegendDiv {
	position: absolute;
	top: 1em;
	left: 2em;
	display: flex;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 8px;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

.tasklinearLegendRow {
	display: flex;
	flex-direction: row;
	margin-top: 6px;
	align-items: center;
}

.tasklegendText {
	padding-left: 0.5em;
	font-family: "Arial", sans-serif;
	font-size: 12px;
}

.tasklegendCircle {
	border-radius: 50%;
	border: 1px solid #666;
}

.tasktooltipDiv {
	position: absolute;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #222;
	padding: 0px;
	width: auto;
	overflow: hidden;
}

.tasktooltipBody {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.tasktooltipFieldName {
	font-size: 13px;
	color: #666;
	white-space: pre;
}

.tasktooltipFieldValue {
	font-size: 14px;
	color: #222;
	font-weight: 500;
}

.tasktooltipTitle {
	background-color: #5392cb;
	color: white;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: pre-wrap;
	padding: 1em;
}