/*TASK flow chart styles*/

#chartContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #f0f2f5;
	border-radius: 8px;
	padding: 8px;
}

.taskflowChartDivContainer {
	flex: 0 75%;
	border-right: 1px solid #ddd;
	display: flex;
	flex-direction: column;
}

.taskflowChartTopDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	height: 2.8em;
}

.taskflowChartCurrentStatusDiv {
	align-items: center;
	white-space: pre;
	border-radius: 4px;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.taskflowChartHoveredDiv {
	flex: 0 50%;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em;
	font-style: italic;
	font-size: 0.8em;
	height: 100%;
	display: flex;
	align-items: center;
}

.taskcurrentStatusValueSpan {
	font-weight: bold;
}

.taskflowChartDiv {
	width: 100%;
}

.tasksideDiv {
	flex: 0 25%;
	padding-left: 0.8%;
	padding-right: 0.8%;
	/*	display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
}

.tasksideDivTitle {
	position: relative;
	min-height: 48px;
	/*	flex: 0 10%;*/
}

.tasknodeText {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	text-anchor: middle;
	dominant-baseline: middle;
}

details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
	position: absolute;
	width: 100%;
	background-color: white;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}

summary span {
	padding-left: 0.5em;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
}

.tasksideDivContainer {
	width: 100%;
	/*	flex: 0 90%;*/
}

.tasklistRows {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4px;
}

.tasklistRowsNumber {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	background: rgba(255, 255, 255, 0.5);
	border: 3px solid currentColor;
	font-size: 16px;
}

.tasklistRowsNumber span {
	color: #000;
}

.tasklistRowsText {
	flex: 0 90%;
	margin-left: 8px;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: darkslategray;
}

.taskstageDiv {
	width: 100%;
	border-radius: 8px;
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 8px;
}

.taskstageText {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #222;
}

.tasklinksGroup {
	fill: none;
}

.tasklabelsGroupText {
	dominant-baseline: central;
	text-anchor: middle;
	font-size: 12px;
	font-family: "Arial", sans-serif;
}
