#progressroot {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--ocha-blue: #1f69b3;
	--ocha-blue-lighter: #82b5e9;
	--ocha-blue-darker: #144372;
}

.xAxisTopChart path,
.yAxisTopChart path {
	stroke: none;
	fill: none;
}

.xAxisTopChart line {
	stroke: #666;
	fill: none;
}

.yAxisTopChart line {
	stroke: #ccc;
	fill: none;
	stroke-dasharray: 3, 3;
}

.xAxisTopChart text,
.yAxisTopChart text {
	font-size: 10px;
	fill: #666;
}

.topChartLabels {
	text-anchor: middle;
	fill: #333;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: -0.5px;
}

.downloadIcon:focus {
	outline: none;
}

.MuiButtonBase-root:focus {
	outline: none;
}

.scrollSpyTab:hover {
	background-color: #f5f8ff;
}

.hiddenElement {
	display: none !important;
}

.overviewValue {
	font-size: 13px;
	font-weight: 600;
	dominant-baseline: central;
}

.overviewAxis text {
	fill: #444;
}

.overviewAxis line {
	stroke: none;
}

.overviewAxis path {
	stroke: none;
}

.legendGroupValue {
	dominant-baseline: hanging;
	font-weight: 600;
}

.legendGroupName {
	dominant-baseline: hanging;
	font-weight: normal;
	fill: #444;
}

.timelineXAxisGroup text {
	fill: #444;
	font-size: 11px;
}

.timelineYAxisGroup text {
	fill: #444;
	font-weight: bold;
}

.timelineXAxisGroup path {
	stroke: none;
}

.timelineYAxisGroup path {
	stroke: none;
}

.timelineYAxisGroup line {
	stroke: #ccc;
}

.gridline {
	stroke: #f1f1f1;
	stroke-dasharray: 4, 4;
}

.emergencyTypesGroupValue {
	font-size: 12px;
	fill: #222;
}

.legendGroup:focus,
.emergencyTypesGroup:focus {
	outline: none;
}
